body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

p {
	font-weight: bold;
	font-size: 13px;
}

.clearfix::after {
	content: '';
	clear: both;
	display: block;
	height: 0;
}

.header {
	height: 150px;
	background: #cfe5ef;
}

/* задаём размер центрального блока */

.center {
	width: 1252px;
	margin: 0 auto;
	line-height: 150px;
}

/* размещаем элементы по сторонам */

.header-left {
	float: left;
}

.header-right {
	float: right;
}

/* задаем строчную структуру элементам для обтекания */
.logo {
	display: inline-block;
	vertical-align: middle;
}

nav {
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2;
}

.topmenu > li {
	display: inline-block;
	position: relative;
}

/* убираем подменю */

.popupmenu {
  position: absolute;
  z-index: 1;
  transition: .2s ease-in-out;
  display: none;
  white-space: nowrap;
  top: 100%;
  left: 0;
  background: #fff;
}

/* выводим меню при наведении */
ul li:hover .popupmenu {
	display: block;
}

/* задаём центрирование секции с флоатами */

.first-float,
.second-float,
.reviews,
.galery_photo,
.elements_iput {
	width: 1252px;
	margin: 0 auto;
}


/* position for line */

.line {
	position: relative;
	top: -5px;
	margin-bottom: 30px;
}

.line2 {
	position: relative;
	top: -20px;
	margin-bottom: 30px;
}

/* отступы для линии между отзывами */

hr {
	margin: 35px 0;
}

/* задаём отступ от предыдущего блока отзывы */

.reviews {
	margin-bottom: 100px;
}

.galery-photo-headline > h3 {
	text-align: center;
}

.galery_line {
	position: relative;
	top: -22px;
	text-align: center;
}
/* text headline form */
.headline_txt_form {
	font-size: 24px;
}

p {

}