li {
	list-style: none;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
  transition: background-color .1s linear;
  padding: 0px 15px;
}

ul li:hover .galery {
	background-color: #fff;
}

.topmenu {
	font-size: 0;
}

.topmenu > li {
	border-right: 3px solid;
	font-size: 16px;
}

.topmenu > li:last-child {
	border-right: none;
}

/* задаём размер кнопки */

input {
	width: 125px;
	height: 60px;
	text-transform: uppercase;
}

.first-float__content {
	background: #e2e2e2;
	border: 1px solid #9f9f9f;
}

.second-float__content {
	background: #e2e2e2;
	border: 1px solid #9f9f9f;
}