li {
	list-style: none;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
  transition: background-color .1s linear;
  padding: 0px 15px;
}

ul li:hover .galery {
	background-color: #fff;
}

.topmenu {
	font-size: 0;
}

.topmenu > li {
	border-right: 3px solid;
	font-size: 16px;
}

.topmenu > li:last-child {
	border-right: none;
}

/* задаём размер кнопки */

input {
	width: 125px;
	height: 60px;
	text-transform: uppercase;
}

.first-float__content,
.second-float__content {
	background: #e2e2e2;
	border: 1px solid #9f9f9f;
}

/* задаём отступы для заголовков */
.headline_txt > h3 {
	padding-top: 64px;
	margin: 0;
}

.headline_txt-2 > h3 {
	margin: 0;
	padding: 76px 0 0;
}

.first-float__content,
.second-float__content {
	font-size: 50px;
}

.reviews-text__desc > p {
	margin-left: 25px;
}